{
  "app": {
    "guid": "0c32b4b0-9f60-4729-a917-9899b4068ef8"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MGMzMmI0YjAtOWY2MC00NzI5LWE5MTctOTg5OWI0MDY4ZWY4",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "selectdatabase": "Utilizar banco de dados temporário em disco (H2)",
      "appid": "io.cronapp.apps.bpm",
      "backend": "true",
      "menuPosition": "Horizontal",
      "frontend": "true",
      "mutual": "false",
      "social": "false",
      "theme": "Material",
      "authentication": "Token"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO"
}